body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

.bg-image {
    /* The image used */
    background-image: url(https://tinyurl.com/askmate);

    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-text {
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}
th {
    border-radius: 5px;
    border-style: dashed;
    font-weight: bold;
    width: 100%;
}

.i {
    color: black;
    text-decoration: none;
    background-color: transparent;
}


a:link {
    color: darkblue;
    text-decoration: none;
    background-color: transparent;
}

a:visited {
    color: darkred;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: lightgreen;
    background-color: transparent;
    text-underline-offset: 2px;
}
a:active {
    color: blue;
    background-color: transparent;
    text-decoration: none;
}

tbody {
    background-color: snow;
    color: darkslategrey;
}

.display_question {
    background-color: snow;
    color: black;
    text-align: center;
}

img {
    transition:transform 0.25s ease;
}

img:hover {
    -webkit-transform: scale(5);
    transition: transform .2s;
    /*position: absolute;*/
    /*right: 50%*/
    /*transform: scale(5);*/
}

textarea {
        width: 300px;
        height: 200px;
      }

input {
    textarea {
        width: 300px;
      }

}
