body {
    background-image: url(https://tinyurl.com/askmate);
    background-repeat: no-repeat;
    background-size: 100%;
}

div {
    padding: 25px;
    margin: 100px
}

h1 {
    color: lightgreen;
    background-color: black;
    text-align: center;
    height: 50px;
    margin: 20px;
    padding: 10px;
}

table {
    margin: 15px;
    padding: 5px;
    border: solid green 1px;
    background-color: black;
    background-blend-mode: lighten;
    color: white
}

th {
    margin: 2px;
    padding: 2px;
    text-align-all: left;
}

td {
    margin: 2px;
    padding: 2px;
    text-align: left;
}