{% extends "layout.html" %}
{% block title %}Add Answer{% endblock %}
{% block body %}

    <h1>Add a new answer</h1>
    <form method="post" action="{{ '/question/'+ question.id }}/new-answer" enctype="multipart/form-data">
        <!--"{{ '/question/' + question.id + '/new-answer' }}" moze tez tak byc-->
        <label for="question_id"></label>
        <input name="question_id" id="question_id" value="{{ question.id }}" readonly style="display: None;"><br>
        <label for="message">Message</label><br>
        <textarea name="message" id="message" required></textarea><br>
        <label for="file">Upload image</label><br>
        <input class="upload_image" type="file" name="file"><br>
        <button type="submit">Submit answer</button>
        <br>
    </form>
{% endblock %}