{% extends "layout.html" %}
{% block title %}Add Answer{% endblock %}
{% block body %}
    <div class="item">
    <a href="/question/{{ question.id }}">Go back</a><br>
    <h1>Add a new answer</h1>
    <form method="post" action="{{ '/question/' + question.id }}/new-answer" enctype="multipart/form-data">
        <!--"{{ '/question/' + question.id + '/new-answer' }}"-->
        <label for="message">Message</label><br>
        <textarea name="message" id="message" required></textarea><br>
        <label for="file">Upload image</label><br>
        <input type="file" name="file"><br>
        <button type="submit">Submit answer</button>
        <br>
    </form>
    </div>
{% endblock %}