{% extends "layout.html" %}
{% block title %}Add Question{% endblock %}
{% block body %}

    <h1>Add question</h1>
        <form method="post" action="/add-question" enctype="multipart/form-data">
            <label for="title">Question title:</label><br>
            <input type="text" name="title" id="title"><br>
            <label for="message">Message</label><br>
            <textarea name="message" id="message"></textarea><br>

{#            <label for="file">Choose an image:</label>#}
{#            <input type="file" id="image" name="image" accept="image/png, image/jpeg">#}

{#            <label for="file">Add Image</label>#}
{#            <iframe src="/upload-image" title="Add Image" name="file"> </iframe><br>#}

            <button type="submit">Submit</button><br>
        </form>

{% endblock %}