{% extends 'layout.html' %}
{% block title %} Bonus questions {% endblock %}
{% block script %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/bonusQuestions.js') }}" defer></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/doNotModifyThisFile.js') }}" defer></script>
{% endblock %}
{% block body %}
    <div id="bonusPage" style="margin: 20px;">
        <h1>AskMate</h1>
        <h2>All Questions:</h2>
        <button id="theme-button" onclick="toggleTxt()">Change Theme to Dark</button>
        <button id="increase-font-button" onclick="increaseFont('bonusPage', 1)">Increase page font</button>
        <button id="decrease-font-button" onclick="decreaseFont('bonusPage', -1)">Decrease page font</button><br>
        <label for="doNotModifyThisId_QuestionsFilter">Filter: </label>
        <input data-table-body="doNotModifyThisId_QuestionsTableBody"
               style="width: 500px" id="doNotModifyThisId_QuestionsFilter"
               type="text"
               placeholder="filter questions by keywords">
        <table>
            <thead id="doNotModifyThisId_QuestionsTableHeader">
            <tr>
                <td style="border: solid 1px yellowgreen; margin: 2px; padding:2px;">Title</td>
                <td style="border: solid 1px yellowgreen; margin: 2px; padding:2px;">Description</td>
                <td style="border: solid 1px yellowgreen; margin: 2px; padding:2px;">Vote Count</td>
                <td style="border: solid 1px yellowgreen; margin: 2px; padding:2px;">View Number</td>
            </tr>
            </thead>
            <tbody id="doNotModifyThisId_QuestionsTableBody">
            {% for question in questions %}
                <tr>
                    <td>{{ question['title'] }}</td>
                    <td>{{ question['description'] }}</td>
                    <td>{{ question['vote_number'] }}</td>
                    <td>{{ question['view_number'] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}