{% extends "layout.html" %}
{% block title %}Edit Question{% endblock %}
{% block body %}
    <h1>Edit question</h1>
    <a href="/list">Go Back</a>
    <form method="post" action="/question/{{ question.id }}/edit" enctype="multipart/form-data">
        <label for="title">Question title:</label><br>
        <input type="text" name="title" id="title" value="{{ question.title if question.title }}"><br>
        <label for="message">Message</label><br>
        <textarea name="message" id="message">{{ question.message if question.message }}</textarea><br>
        {% if question.image %}
            <h4>Edit Image</h4>
            <img src="{{ question.image if question.image }}" height="100px" alt="Uploaded Image"><br>
            <a href="/question/{{ question.id }}/delete-image">Delete Image</a><br>
        {% else %}
            <h3>Upload a JPG or PNG image</h3>
            <label for="file">Upload Image</label><br>
            <input class="upload_image" type="file" name="file"><br>
        {% endif %}
        <button type="submit" style="margin: 25px">Submit</button>
        <br>
    </form>
{% endblock %}