{% extends "layout.html" %}
{% block title %}Edit Question{% endblock %}
{% block body %}
    <div class="forms">
        <div class="item" style="color: whitesmoke">
            <h1>Edit question</h1>
            <a href="/question/{{ question.id }}">Go back</a><br>
            <form method="post" action="/question/{{ question.id }}/edit" enctype="multipart/form-data">
                <label for="title">Question title:</label><br>
                <input type="text" name="title" id="title" value="{{ question.title if question.title }}"><br>
                <label for="message">Message</label><br>
                <textarea name="message" id="message">{{ question.message if question.message }}</textarea><br>
                {% if question.image %}
                    <h4>Edit Image</h4>
                    <img src="{{ question.image if question.image }}" height="100px" alt="Uploaded Image"><br>
                    <a href="/question/{{ question.id }}/delete-image">Delete Image</a>
                    {#            <label for="file" style="display: inline">Upload a new image</label><br>#}
                {% else %}
                    <h3>Upload a JPG or PNG image</h3>
                    <label for="file">Upload Image</label><br>
                    <input type="file" name="file"><br>
                {% endif %}
                <hr>
                <input type="submit">
            </form>
        </div>
    </div>
{% endblock %}