{% extends "layout.html" %}
{% block title %}Oops! {% endblock %}
{% block body %}
    <div class="container" style="color: snow; display: grid;">
    <div class="item" style="grid-auto-rows: auto">
    <h1>Oops! </h1>
    <h2>{{ error.title }}</h2>
    <p>{{ error.message }}</p>
    {% if is_edit %}
        <a href={{ "/question/" + error.id + "/edit" }}>Go Back</a><br>
    {% endif %}
    {% if is_answer %}
        <a href={{ "/question/" + error.id + "/new-answer" }}>Go Back</a><br>
    {% endif %}
    <a href="{{ '/' }}">Question List</a><br>
    </div>
    </div>
{% endblock %}

