{% extends "layout.html" %}
{% block title %}List Questions{% endblock %}
{% block body %}
    <div>
    <img src="/uploads/logo.jpg" alt="logo" height="100">
        <h1>All questions</h1>
        <p>{{ order_by }}</p>
        <p>{{ order_direction }}</p>
        <a href="/add-question">
            Add a question
        </a>
        <table>
            <thead>
            <tr>
            <th>ID</th>
            <th>Submission Date and Time
                <a href="/list?order_by=submission_time"><i class="fa-solid fa-circle-arrow-down"></i></a>
                <a href="/list?order_by=submission_time&order_direction=asc"><i class="fa-solid fa-circle-arrow-up"></i></a>

            </th>
            <th>Views</th>
            <th> Votes</th>
            <th> Title
                <a href="/list?order_by=title"><i class="fa-solid fa-circle-arrow-down"></i></a>
                <a href="/list?order_by=title&order_direction=asc"><i class="fa-solid fa-circle-arrow-up"></i></a>
            </th>
            <th> Question</th>
            <th> Image</th>
            </tr>
            </thead>
            <tbody>
            {% for row in questions %}
                <tr>
                    <td>
                        {{ row.id }}
                    </td>
                    <td>{{ row.submission_time }}</td>
                    <td>{{ row.view_number }}</td>
                    <td>{{ row.vote_number }}
                        <table style="display: inline;">
                            <tbody>
                            <tr>
                                <td>
                                    <form method="post" action="/question/{{ row.id }}/vote-up">
                                    <button type="submit"><span>&#8679;</span></button>
                                    </form>
                                    <form method="post" action="/question/{{ row.id }}/vote-down">
                                    <button type="submit"><span>&#8681;</span></button>
                                    </form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                    <td>
                        <a href="/question/{{ row.id }}"> {{ row.title }} </a>
                    </td>
                    <td> {{ row.message }} <br>
                    </td>
                    <td>
                        {% if row.image %}
                        <img src="{{ row.image }}" alt="uploaded image" width="25"> </td>
                        {% else %}
                        None
                        {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}