{% extends "layout.html" %}
{% block title %}List Questions{% endblock %}
{% block body %}

    {% from 'macros.html' import search_answers with context %}
    {% from 'macros.html' import get_tags with context %}
    {% from 'macros.html' import get_questions with context %}

    {% if is_logged_in %}
        <p style="align-self: center; color: greenyellow; text-shadow: 0px 4px black">
            <a href="{{ url_for('display_profile', user_id = session['user_id']) }}">You are logged in as {{ session['username'] }}</a></p>
        <p style="align-self: center; color: greenyellow;"><a href="{{ url_for('users') }}">List of all users</a></p>
    {% endif %}
    <div style="display: flex; flex-direction: row; flex-wrap: wrap; align-items: center; color: whitesmoke;">
        <div style="margin: 25px; padding: 10px;"><a href="/">
            <img class="logo" src="/uploads/logo.jpg" alt="logo" height="100" style="float: left"></a>
        </div>
        <div style="margin: 25px; padding: 10px">
            {% if results %}
                <h2>Search Results</h2>
            {% else %}
                <h2>All questions</h2>
            {% endif %}
            <div>
            <form action="/search" method="GET">
                    <label for="submit"><input type="text" name="q" placeholder="Enter a search phrase "></label>
                    <input type="submit" value="Search">
            </form>
            </div>
        </div>
        <div style="margin: 25px; padding: 10px;">
            {% if is_logged_in %}
                <a href="/add-question">Add a question</a><br>
                <a href="{{ url_for('logout') }}">Logout</a>
            {% else %}
                <a href="/registration">Register</a><br>
                <a href="{{ url_for('login') }}">Login</a>
            {% endif %}
            <br><a href="{{ url_for('display_tags') }}">Tag list</a>
        </div>
    {% if questions %}
        <div style="margin: 25px; padding: 10px;"><label for="order_by"> Sort question list by </label>
            <select style="display: inline;" name="order_dict" id="order_by" form="sort">
                <option value="">--Please choose an option--</option>
                 <option name="title" value="{'order_by': 'id', 'order_direction': 'asc'}">ID – ascending </option>
                <option name="title" value="{'order_by': 'id', 'order_direction': 'desc'}">ID – descending</option>
                <option name="title" value="{'order_by': 'title', 'order_direction': 'asc'}">Title – ascending </option>
                <option name="title" value="{'order_by': 'title', 'order_direction': 'desc'}">Title – descending</option>
                <option name="view_number" value="{'order_by': 'view_number', 'order_direction': 'asc'}">Views – ascending</option>
                <option name="view_number" value="{'order_by': 'view_number', 'order_direction': 'desc'}">Views – descending </option>
            </select>
            <form style="display: inline;" action="{{ url_for('list_questions') }}" method="get" id="sort"><input type="submit"></form>
            <br><small> Questions ordered by {{ order_by }}: {{ order_direction }}</small></div>
        </div>
        <div class="item">
            <main>
                {% from 'macros.html' import fancy_search %}
                {% set search_phrase = request.args.get('q') %}
                {% if not search_phrase %}
                    {% for question in questions %}
                        {{ get_questions(question) }}
                    {% endfor %}
                {% else %}
                    {% if not results and not answers and search_phrase %}
                        <div class="questions">
                            <div class="question"><h2>No results found for <em>{{ search_phrase }}</em>.</h2>
                                <p>Try a different phrase or check your spelling. </p></div>
                        </div>
                    {% elif results or answers %}
                        <div class="questions">
                            <div class="question">
                                <h2>Phrase: <em>{{ search_phrase }}</em></h2>
                                <p>The following results list questions that contain the phrase "{{ search_phrase }}" in
                                    either a question's title or message, or in an answer's message to a question.</p>
                            </div>
                        </div>
                        {% for result in results %}{% for question in questions %}{% if question.id == result.id %}
                            {{ get_questions(question, answers, search_phrase ) }}
                        {% endif %}{% endfor %}{% endfor %}
                        {% for answer in answers %}{% for question in questions %}
                            {% if question.id == answer.question_id %}
                                {% if search_phrase not in question.message and search_phrase not in question.title %}
                                    {{ get_questions(question, answers, search_phrase ) }}
                                {% endif %}
                            {% endif %}{% endfor %}{% endfor %}
                    {% endif %}
                {% endif %}
        {% else %}
            <p>No questions added yet. <a href="/add-question">Add a question now!</a></p>
        {% endif %}
        </main>
        </div>
{% endblock %}