{% extends "layout.html" %}
{% block title %}Add Comment{% endblock %}
{% block body %}
    <div class="item">
    <a href="{{ url_for('display_question', question_id=question.id ) }}">Go back</a><br>
    <h1>Add a new comment</h1>
    <form method="post" action="{{ url_for('add_comment_to_question', question_id=question.id ) }}" enctype="multipart/form-data">
        <label for="message">Message</label><br>
        <textarea name="message" id="message" required></textarea><br>
        <label for="file">Upload image</label><br>
        <input type="file" name="file"><br>
        <button type="submit">Submit comment</button>
        <br>
    </form>
    </div>
{% endblock %}