{% extends "layout.html" %}
{% block title %}Question {{ question.id }}{% endblock %}
{% block body %}

    <h1>Question</h1>
    <div class="display_question">
        <p>
            <a href="/list">Return to all questions</a>
        </p>
        <table>
            <tbody>
            <tr>
                <td>
                    {{ question.title }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ question.message }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ question.image }}
                </td>
            </tr>
            </tbody>
        </table>
        <ul>
            {% for answer in answers %}
                <li>{{ answer.message }}</li>
            {% endfor %}
            <li><a href="/question/{{ question.id }}/new-answer">Add a new answer</a></li>
        </ul>
    </div>
{% endblock %}