{% extends "layout.html" %}
{% block title %}Registration{% endblock %}
{% block body %}
    <div class="registration-form">

        <form method="POST" action="{{ url_for('registration') }}">
            {% if status %}
                <h2>Invalid login attempt error message.</h2>
            {% endif %}

            <label for="username" class="registration-form-text">E-mail<br><br></label>
            <input type="email" name="username" id="username" value placeholder="ex: myname@example.com" class="form-textbox">
            <br><br>
            <label for="password" class="registration-form-text">Password<br><br></label>
            <input type="password" name="password" id="password" class="form-textbox"><br>
            <button type="submit" class="submit-button">Register</button>
        </form>

    </div>

{% endblock %}