{% extends "layout.html" %}
{% block title %}Registration{% endblock %}
{% block body %}
    <form method="POST" action="{{ url_for('registration') }}">
        {% if status %}
            <h2>Invalid login attempt error message.</h2>
        {% endif %}

        <label for="username">E-mail</label>
        <input type="email" name="username" id="username">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
        <input type="submit" value="Register">
    </form>

{% endblock %}